#intestazione {
    background-image: url(../img/pattern.png);
    background-position: 0% 15%;
    background-size: 20%;
    background-color: #4EA0FF;
}

#logo {
    width: 15%;
}

#sottotitolo {
    color: lightgray;
}

#booleaner {
    color: blue;
}

#didascaliaimg {
    margin-top: 0%;
    font-size: small;
}

#evidenziatore {
    background-color: yellow;
}

table {
    width: 100%;
    border-spacing: 0px;
    text-align: left;
}

th {
    padding-right: 5%;
    background-color: #4EA0FF;
    color: white;
}

.thalf {
    width: 25%;
}

.trblue {
    background-color: lightskyblue;
}