#intestazione {
    background-image: url(../img/pattern.png);
    background-position: 0% 15%;
    background-size: 20%;
    background-color: #4EA0FF;
}

#logo {
    width: 15%;
}

#sottotitolo {
    color: lightgray;
}

#booleaner {
    color: blue;
}