#intestazione {
    background-image: url(../img/pattern.png);
    background-position: 0% 15%;
    background-size: 20%;
    background-color: #4EA0FF;
}

#logo {
    width: 15%;
}

.sottotitolo {
    color: lightgray;
    font-weight: bold;
}

#booleaner {
    color: blue;
}

#didascaliaimg {
    margin-top: 0%;
    font-size: small;
}

#evidenziatore {
    background-color: yellow;
}

table {
    width: 100%;
    border-spacing: 0px;
    text-align: left;
}

th {
    padding-right: 5%;
    background-color: #4EA0FF;
    color: white;
}

.thalf {
    width: 25%;
}

.trblue {
    background-color: lightskyblue;
}

.image-container {
    position: relative;
}

.testoimmagini {
    position: absolute;
    top: 5%;
    font-weight: bold;
    color: white;
}

ul {
    padding-bottom: 2%;
}

#ultimotesto {
    padding-bottom: 2%;
}